button {
  border: 0;
  background: #ffcc00;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f0bf00;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0%;	
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #f0bf00;
  transform: translateY(3px);
}